body {
    background-color: #fff;
}
h6 {
    margin: 5px;
}
input,
select,
textarea {
    box-sizing: border-box;
}

.form,
.form-5,
.form-6 {
    max-width: 330px;
    margin: 10px;
}

.form-3,
.form-4 {
    max-width: 680px;
}

.form input,
.form select,
.form-4 input,
.form-6 input,
.form section,
.form-4 select,
.form-6 select,
.form textarea {
    min-width: 100%;
}

.form p {
    max-width: 330px;
}

h2 {
    font-size: 20px;
    letter-spacing: 0px;
    color: #b3b3b3;
    font-family: "Roboto";
}


.text p {
    max-width: 330px;
    margin: 10px 0;
}

.youre {
    margin: 5px 0;
}

.disabled input {
    font-size: 14px;
    color: #b3b3b3;
    font-family: "Roboto";
}

.button {
    min-width: 100%;
    border: 1px solid #12d661;
    background-color: #12d661;
    padding: 13px;
    font-size: 14px;
    color: #ffffff;
    font-family: "Roboto";
    text-align: center;
    border-radius: 2px 2px 2px 2px;
}

.form-2 {
    margin: 10px;
}

.form-2 form {
    display: flex;
}

.form-2 p {
    margin: 0;
}

.left {
    margin-right: 10px;
}

.table {
    margin-right: 11px;
}

.table table {
    margin-left: 100px;
    width: 473px;
    height: 114px;
    border-radius: 3px;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
}

.style-checkbox {
    display: flex;

}

.buttons {
    display: flex;
    margin: 30px 300px 0 0;
}

.down-left {
    max-width: 200px;
    background-color: #fff;
    margin: 0 300px 0 0;
}

.down-left a {
    min-width: 220px;
    border: 1px solid #84868d;
}

.form-5 {
    max-width: 680px;
}

.ppa {
    min-width: 220px;
}

.form-5 h6 {
    margin: 5px;
}

.form-5 select,
.form-5 input {
    min-width: 100%;
    max-height: 40px;
    border-radius: 2px 2px 2px 2px;
}