body {
    background-color: #fff;
    position: relative;
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
    cursor: url('cursor.cur'),
        auto;
}

h1 {
    font-size: 30px;
    color: #1f222c;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: center;
}

h6 {
    margin: 5px;
}

input,
select,
textarea {
    box-sizing: border-box;
    padding: 10px;
    max-height: 200px;

}

h3 {
    font-size: 18px;
    color: #1f222c;
    font-weight: 700;
    font-family: "Roboto";
}

th {
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
}

h6 {
    font-size: 13px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Roboto";
    text-align: left;
}



.form,
.form-5,
.form-6 {
    max-width: 330px;
    margin: 10px;
}

.form-3,
.form-4 {
    max-width: 680px;
}



.form p {
    max-width: 330px;
}

h2 {
    font-size: 20px;
    letter-spacing: 0px;
    color: #b3b3b3;
    font-family: "Roboto";
}


.text p {
    max-width: 330px;
    margin: 10px 0;
}

.youre {
    margin: 5px 0;
}

.disabled {
    font-size: 14px;
    color: #b3b3b3;
    font-family: "Roboto";
}

.hj {
    margin-top: -19px;
}

.button {
    min-width: 100%;
    border: 1px solid #12d661;
    background-color: #12d661;
    padding: 10px 13px 10px 13px;
    font-size: 14px;
    color: #ffffff;
    font-family: "Roboto";
    text-align: center;
    border-radius: 2px 2px 2px 2px;
}

.form-2 {
    margin: 10px;
}

.form-2 form {
    display: flex;
}

.form-2 p {
    margin: 0;
}

.left {
    margin-right: 10px;
}

.right {
    width: 473px;
    padding: 10px;
}

.table {
    margin-right: 11px;
}

.form-4 {
    text-align: left;
}

.table table {
    max-width: 300px;
    margin-left: 100px;
    height: 114px;
    border-radius: 3px;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
}

.style-checkbox {
    display: flex;

}

.men-woman input {
    max-width: 50%;
}

.buttons {
    display: flex;
    padding: 30px 0 0 0;
}

.down-left {
    padding-top: 10px;
    max-width: 200px;
    background-color: #fff;
    margin: 0 350px 0 0;
}

.down-left a {
    max-width: 220px;
    border: 1px solid #84868d;
}

.form-5 {
    max-width: 680px;
}

.w100 {
    width: 100%;
    border-radius: 3px;
    border: 1px solid grey;
}

.ppa {
    min-width: 220px;
}

.form-5 h6 {
    margin: 5px;
}

.form-5 select,
.form-5 input {
    max-height: 40px;
    border-radius: 2px 2px 2px 2px;
}

.form-5 table {
    max-width: 680px;
}

.form-6 form {
    padding: 20px;
    border: 1px solid grey;
    border-radius: 3px;
    box-shadow: 5px 5px 5px grey;
}

.form-5 a {
    padding: 10px;
    text-decoration: none;
    background-color: #fff;
    color: #84868d;
    border-color: #84868d
}

.form-6 {
    width: 300px;
    position: fixed;
    top: 90px;
    right: 100px;
}
.form-6 p::before {   
    border-top: 1px solid #000;
    border-left: 1px solid #000;

}
.form-6 a {
    text-decoration: none;
    font-size: 13px;
    color: #3e6aff;
    font-weight: 400;
    font-family: "Roboto";
}
.pass {
    margin-bottom: 20px;
}
.form-6 input:not(:last-child) {
    padding: 20px;
    font-size: 13px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
}
.my-check {
    position: absolute;
    appearance: none;
}
.my-check+label {
    position: relative;
    color: #777;
    padding: 0 30px 0 ;

}
.my-check:checked+label {
    color: #1f1f56;
}
.my-check+label::before,
.my-check+label::after {
    content: "";
    position: absolute;
}
.my-check+label::before {
    left: 0;
    top: -2px;
    width: 15px;
    height: 15px;
    border: 1px solid #777;
    border-radius: 3px;
}
.my-check:checked+label::before {
    border-color: #1f1f56;
}
.my-check:checked+label::after {
    left: 3px;
    top: 2px;
    width: 10px;
    height: 4px;
    border-left: 2px solid #1f1f56;
    border-bottom: 2px solid #1f1f56;
    transform: rotate(-45deg);
}