body {
    background-color: #fff;
}

input,
select,
textarea {
    box-sizing: border-box;
}

.form,
.form-5,
.form-6 {
    max-width: 330px;
    margin: 10px;
}

.form-3,
.form-4 {
    max-width: 680px;
}
.form input,
.form-4 input,
.form-6 input,
.form section,
.form-4 section,
.form-6 section {
    min-width: 100%;
}
.form p {
    max-width: 330px;
}
 h2 {
    font-size: 20px;
    letter-spacing: 0px;
    color: #b3b3b3;
    font-weight: 700;
    font-family: "Roboto";

}


.text p {
    max-width: 330px;
    margin: 10px 0;
}

.youre {
    margin: 5px 0;
}

.button {
    min-width: 100%;
    border: 1px solid #12d661;
    background-color: #12d661;
    padding: 13px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
    border-radius: 2px 2px 2px 2px;
}

.form-2 {
    margin: 10px;
}
.form-2 form {
    display: flex;
}
.style-checkbox {
    display: flex;
}

